@font-face {
    font-family: "bmce";
    src: url("fonts/bmce.ttf");
    font-weight: bold;
}

#bgCanvas {
  position: absolute;
  top:0px;
  left:0px;
  z-index: -2;
}

.questionText {
  margin: auto;
  width: 75%;
  font-size: 48px;
  text-align: center;
  position: relative;
  top:80px;
  font-family: "bmce";
  color: #483d39;

}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hide {
    display: none;
}

h2{
    display: inline-block;
    padding-bottom:20px;
    font-size: 48px;
    color: #483d39;
    font-family: "bmce";
    
}
